.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.container.dark {
  background: #222;
}

.home {
  margin-top: 60px;
  padding: 15px 6%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
}

.content_home {
  flex: 1 1;
  padding: 20px;
  color: black;
}
.content_home.dark {
  color: white;
}
.content_home h2 {
  font: 2.5em sans-serif;
  font-weight: 900;
}
.content_home p {
  margin-top: 20px;
  font: 1.5em sans-serif;
  font-weight: 100;
}
.vector_home {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vector_home img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.vector_home.dark {
  color: white;
}
@media (max-width: 777px) {
  .home {
    flex-direction: column; 
    align-items: center;
  }

  .content_home, .vector_home {
    min-width: 100%; 
  }

  .vector_home {
    display: none;  
  }
}
