.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.container.dark {
  background: #222;
}

.home {
  margin-top: 60px;
  padding: 15px 6%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
}

.content_home {
  flex: 1 1;
  padding: 20px;
  color: black;
}
.content_home.dark {
  color: white;
}
.content_home h2 {
  font: 2.5em sans-serif;
  font-weight: 900;
}
.content_home p {
  margin-top: 20px;
  font: 1.5em sans-serif;
  font-weight: 100;
}
.vector_home {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vector_home img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.vector_home.dark {
  color: white;
}

/* .button {
  background: #f9f9f9;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font: 1.2em sans-serif;
  font-weight: 100;
  margin-top: 20px;
}

.button.dark {
  background: #333;
  color: white;
}
.button:hover {
  background: #333;
  color: white;
} */
.button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #222;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.button.dark{
  background-color: #fff;
  color: #222;
}
.button:hover {
  background-color: #444;
}
.button.dark:hover{
  background-color: #9a9a9a;
  color: #222;
}
@media (max-width: 777px) {
  .home {
    flex-direction: column;
    align-items: center;
  }

  .content_home,
  .vector_home {
    min-width: 100%;
  }

  .vector_home {
    display: none;
  }
}
