* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.container.dark {
  background: #222;
}

.home {
  width: 100vw;
  min-height: 80vh;
  padding: 15px 7%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.content_home {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  flex-wrap: wrap;
}
.content_home.dark {
  color: white;
}
.content_home h2 {
  font: 2.5em sans-serif;
  font-weight: 900;
}
.content_home p {
  margin-top: 20px;
  font: 1.5em sans-serif;
  font-weight: 100;
}
.vector_home {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 50px;
}
.vector_home.dark {
  color: white;
}
